.addBtn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: var.$colored-btn;
  color: var.$white;
  cursor: pointer;
  width: 200px;
  transition: background-color 250ms ease;
  margin: 25px auto;
}

@media screen and (min-width: 768px) {
  .addBtn {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .addBtn {
    &:hover {
      background-color: var.$colored-btn-hover;
    }
  }
}
