.list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  color: var.$white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  background-color: var.$dark-gray;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var.$white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: color 250ms ease;
}
