.list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  color: var.$white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  background-color: var.$dark-gray;
  gap: 5px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
}

.btn {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var.$white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: color 250ms ease;
}

@media screen and (min-width: 567px) {
  .list {
    gap: 25px;
  }
  .listItem {
    padding: 10px;
  }
}

@media screen and (min-width: 768px) {
  .listItem {
    padding: 15px;
    font-size: 18px;
  }
  .btn {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 22px;
    &:hover {
      color: var.$delete-btn;
    }
  }
}
