// ----------- [ All scss variables ] -----------
$dark-gray: #2e2d2d;
$hover-gray: #7c7c7c;
$hover-button: #464646;
$btn-gray: #282828;
$white: #ffffff;
$main-text: #000000;
$main-bg-black: #242020;
$light-grey: #585858;
$delete-btn: #a55252;
$colored-btn: #007bff;
$colored-btn-hover: #055fbe;
$invite-btn-hover: #4caf50;