.header {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: var.$dark-gray;
}

.menu {
  width: 210px;
  display: flex;
  gap: 15px;
  justify-content: end;
  height: 30px;
}

.link {
  display: flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  color: var.$white;
  border-bottom: 1px solid white;
  padding: 5px;
  font-size: 14px;
}

.wrapper {
  display: flex;
  cursor: default;
  user-select: none;
  align-items: center;
  gap: 15px;
  > p {
    color: var.$white;
    font-size: 14px;
  }
}

.button {
  font-size: 14px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #747474af;
  cursor: pointer;
  color: var.$white;
  border-radius: 10px;
  padding: 0 5px;
  transition: background-color 250ms ease;

  &:hover {
    background-color: #9c9797af;
  }
}

@media (min-width: 768px) {
  .menu {
    width: 300px;
  }
  .wrapper {
    gap: 20px;
    > p {
      font-size: 15px;
    }
  }
  .button {
    padding: 0 10px;
  }
}
@media (min-width: 1024px) {
  .menu {
    width: 300px;
  }
  .wrapper {
    > p {
      font-size: 17px;
    }
  }
  .button {
    padding: 0 15px;
    font-size: 16px;
  }
  .link {
    width: 150px;
    font-size: 16px;
    transition: background-color 250ms ease, border-radius 250ms ease, color 250ms ease,
      border-bottom 250ms ease;
    &:hover {
      background-color: var.$white;
      border-radius: 15px;
      color: var.$dark-gray;
      border-bottom: none;
    }
  }
}
