.form {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #ccc0c0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: var.$hover-gray 0 0 30px 15px;
  > button {
    height: 30px;
    width: 200px;
    cursor: pointer;
  }
}

.input {
  height: 30px;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var.$dark-gray;
  &::placeholder {
    color: var.$hover-gray;
  }
}
