.list {
  list-style: none;
  color: var.$white;
  display: flex;
  padding: 0;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.backLink {
  display: flex;
  align-items: center;
  color: var.$white;
  margin-top: 20px;
  gap: 5px;
  transition: transform 250ms ease;
  font-size: 16px;
}

@media screen and (min-width: 567px) {
  .list {
    margin-top: 25px;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
  }
  .backLink {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .list {
    gap: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    justify-content: flex-start;
    gap: 75px;
  }
  .backLink {
    font-size: 20px;
    &:hover {
      transform: translate(-2px, -2px);
    }
  }
}
