.item {
  border-radius: 5px;
  color: var.$white;
  border: 1px solid #ccccccab;
  background-color: transparent;
  padding: 10px;
  > p {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 3px;
}

@media (min-width: 768px) {
  .item {
    width: 200px;
  }
}
