.wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  list-style-type: none;
  margin: 20px auto 0 auto;
}

.addBtn {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: var.$colored-btn;
  color: var.$white;
  cursor: pointer;
  width: 200px;
  transition: background-color 250ms ease;
  margin: 0 auto;
  margin-top: 25px;
}

@media (min-width: 576px) {
  .wrapper {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .wrapper {
    margin-top: 50px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .addBtn {
    margin-top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .addBtn {
    &:hover {
      background-color: var.$colored-btn-hover;
    }
  }
}
